@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("ProximaNovaSoft-Regular.otf")format("opentype");
}
body {
  font-family: "proxima-nova-soft";
}
section {
  position: relative;
}
/*CLASES REUTILIZABLES*/
.text-white {
  color: #FFFFFF;
}
.text-blue {
  color: #3498DB;
}
.intro-heading {
  font-size: 6.4rem;
}
/*SECCIÓN PRINCIPAL*/
.section-hero {
  background-color: #9ACCEF;
  height: 650px;
  overflow: hidden;
}
.section-hero .icon {
  background-size: contain;
  display: inline-block;
  position: absolute;
}
.section-hero .section-bg {
  background-position: center bottom;
  background-size: initial;
  height: 100%;
  left: 0;
  width: 100%;
}
.section-hero .floor,
.section-hero .section-content{
  left: 0;
  position: absolute;
  width: 100%;
}
.section-hero .floor {
  background-color: #FFFFFF;
  bottom: 0;
  height: 47px;
}
.section-hero .icon--hero-park {
  bottom: 0;
  height: 316px;
  left: 12%;
  width: 260px;
}
.section-hero .icon--hero-bench {
  bottom: 0;
  height: 66px;
  right: 20%;
  width: 148px;
}
.section-hero .section-content {
  top: 20%;
}
.section-hero .section-content .row:nth-child(1) {
  padding-bottom: 5rem;
}
.section-hero .section-content .btn-primary {
	border-radius: 31px;
  font-weight: 600;
  font-size: 2.4rem;
  padding: 1.4rem 4.5rem;
}
/*SECCIÓN HOW IT WORK*/
.section-how-it-works {
  background-color: #FFFFFF;
}
.section-how-it-works .row{
  padding: 0 9.5rem;
  height: 275px;
}
.section-how-it-works .row > div{
  height: 100%;
}
.section-how-it-works h1{
  font-size: 4.8rem;
}
.section-how-it-works p{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.6rem;
}
.section-how-it-works .icon-container{
  height: 100%;
  width: 275px;
  background-color: #FFCC66;
  border-radius: 50%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
